server:
  port: 8080

spring:
  application:
    name: user-service
  config:
    import: optional:configserver:http://ec2-15-164-164-245.ap-northeast-2.compute.amazonaws.com:8888
  profiles:
    active: dev
  cloud:
    config:
      name: secret
#  jpa:
#    hibernate:
#      ddl-auto: update

logging:
  level:
    propofol:
      userservice: debug

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://ec2-15-164-164-245.ap-northeast-2.compute.amazonaws.com:8761/eureka
     
wbv:
  dfg: dsfsdafsfsdfd
